<article{{ attributes.addClass('col-12') }}>
    <div id="page-wrapper">
    <h2{{ title_attributes.addClass('col-12') }}>{{ label }}</h2>
    <div{{ content_attributes.addClass('col-8') }}>
      {{ content }}
    </div>
    <aside class="col-4">
      <!-- Additional content or sidebar elements go here -->
    </aside>
  </div>
</article>
